<div class="footerbottom">
    <div class="footercol">
      <div class="socialicon">
        <ul>
           <li><a class="fb" title="Like us on Facebook" href="https://www.facebook.com/Pirathon-Wines-559951661124032"><i class="fa fa-facebook"></i></a></li>
          <li><a class="linkedin" title="Link us on Linkedin" href="https://www.linkedin.com/company/pirathon-wines-pty-ltd/"><i class="fa-linkedin fa"></i></a></li>
           <li><a class="twitter" title="Follow us on Twitter" href="https://twitter.com/Pirathon"><i class="fa-twitter fa"></i></a></li>
          <li><a class="instagrame" title="Follow us on Instagram" href="https://www.instagram.com/pirathonwines/"><i class="fa-instagram fa"></i></a></li>
      </ul></div>
      <div class="bottomenuitems">
        <ul>
          <li><a href="https://www.pirathon.com/">Home</a></li>
          <li class="sep1">|</li>
          <li><a href="https://wines.pirathon.com">Wines</a></li>
          <li class="sep1">|</li>
          <li><a href="https://purchase.pirathon.com">Purchase</a></li>       
          <li class="sep1">|</li>
       <li><a href="https://brands.pirathon.com/">Brands</a></li>       
          <li class="sep1">|</li>
       <li><a href="https://properties.pirathon.com">Properties</a></li>    
          <li class="sep1">|</li>   
       <li><a href="https://blog.pirathon.com">Blog</a></li>       
          <li class="sep1">|</li>
       <li><a href="https://about.pirathon.com">About</a></li>       
        </ul>
      </div>
    </div>
    <div class="footer2bar">
      <div class="footer2col">
        <div class="footer2text">
          <p>© <a href="https://about.pirathon.com">Pirathon Wines Pty Ltd</a> 2004-2023. All Rights Reserved.</p>
        </div>
        <div class="footer2anchor"><p>South Australia Liquor Licence Number: 57702190</p></div>
  <div class="footer2text">
  <a href="https://about.pirathon.com/legal/privacy-policy">Privacy Policy</a> <span class="sep1">|</span>
  <a href="https://about.pirathon.com/legal/purchase-policies">Return Policy</a> <span class="sep1">|</span>  <a href="https://about.pirathon.com/legal/terms-of-use">Terms of Use</a> <span class="sep1">|</span> <a href="https://about.pirathon.com/contact">Contact </a>
  </div>
      </div>
    </div>
  </div>