<div class="item-page" itemscope="" itemtype="https://schema.org/Article">
    <meta itemprop="inLanguage" content="en-GB">
    <div itemprop="articleBody">
    <div class="body-content home">
    <div class="container-fluid static_header header3 new1">
    <div class="container headertitle">
    <div class="row">
    <div class="laptopheader col-lg-6">&nbsp;</div>
    <div class="col-md-6 headertext">
    <p>
    </p>
    <h1>Premium Barossa Valley Shiraz</h1>
    <h4>A bold range of Australian wines rich with flavour and alluring aroma.</h4>
    <a class="btn btn-danger btn-lg" href="https://purchase.pirathon.com"><em class="fa fa-shopping-cart">&nbsp;</em> Shop Now</a></div>
    </div>
    </div>
    <!--/container --></div>
    <div class="container productsrow productsrow2">
    <div class="row">
    <div class="col-md-12">
    <div class="col-lg-4 total_product">
    <div class="productbox">
    <h4><a href="https://wines.pirathon.com/2018">2018 Vintage</a></h4>
    <a href="https://wines.pirathon.com/2018"><img src="/img/pirathon-shiraz-range-2018.png" alt="2018 Vintage" height="203px"></a>
    <h6>Pirathon Blue Label Shiraz, Pirathon Silver Label Shiraz, Pirathon Silver Label Cabernet &amp; Pirathon Gold Label Shiraz.</h6>
    <a class="btn btn-primary" href="https://wines.pirathon.com/2018">Read More</a></div>
    <!--Product Box --></div>
    <div class="col-lg-4 total_product">
    <div class="productbox">
    <h4><a href="https://wines.pirathon.com/2017">2017 Vintage</a></h4>
    <a href="https://wines.pirathon.com/2017"><img src="/img/pirathon-shiraz-range-2017.png" alt="2017 Vintage" height="203px"></a>
    <h6 style="margin-bottom: 33px;">Pirathon Blue, Pirathon Silver, Pirathon Black &amp; Pirathon Gold.</h6>
    <a class="btn btn-primary" href="https://wines.pirathon.com/2017">Read More</a></div>
    <!--Product Box --></div>
    <div class="col-lg-4 words_product">
    <div class="productbox">
    <h4><a href="https://wines.pirathon.com/2016">2016 Vintage</a></h4>
    <a href="https://wines.pirathon.com/2016"><img src="/img/pirathon-shiraz-range-2016.png" alt="2016 Vintage" height="203px"></a>
    <h6 style="margin-bottom: 33px;">Bluemark, Pirathon Silver, Pirathon Black &amp; Pirathon Gold.</h6>
    <a class="btn btn-primary" href="https://wines.pirathon.com/2016">Read More</a></div>
    <!--Product Box --></div>
    </div>
    </div>
    <div class="text-center" style="margin-top: 15px;"><em>Highest ABV: 15.5%.&nbsp;Vegan Friendly</em></div>
    <div class="clearfix tc centerbutton"><a class="btn-primary btn-lg whitebg" href="https://wines.pirathon.com">View All Vintages</a></div>
    </div>
    <div class="container-fluid bg-gray-e3 ">
    <div class="container hp-cases">
    <div class="row">
    <div class="col-md-12">
    <h2>Award Winning Shiraz <small>Don't just take our word for it. Here are some awards we have won.</small><small>Read more on the <a href="https://blog.pirathon.com">blog</a>.</small></h2>
    <div class="casestudy">
    <div class="col-lg-3 casestudies">
    <h1><em class="fa fa-trophy">&nbsp;</em></h1>
    <h4>Best Australian Shiraz</h4>
    <p>International Wine Challenge - London 2009</p>
    </div>
    <div class="col-lg-3 casestudies">
    <h1><em class="fa fa-star">&nbsp;</em><em class="fa fa-star">&nbsp;</em><em class="fa fa-star">&nbsp;</em><em class="fa fa-star">&nbsp;</em><em class="fa fa-star">&nbsp;</em></h1>
    <h4>5 Star &amp; Top 10</h4>
    <p>Mainfreight World's Greatest Shiraz &amp; Syrah Challenge - Australia 2017</p>
    </div>
    <div class="col-lg-3 casestudies">
    <h1><i class="icon-consume">&nbsp;</i></h1>
    <h4>94 Points</h4>
    <p>Halliday Wine Companion - Australia 2019</p>
    </div>
    <div class="col-lg-3 casestudies">
    <h1><em class="fa fa-trophy">&nbsp;</em></h1>
    <h4>Double Gold Medal</h4>
    <p>China Wine &amp; Spirits Awards - 2014</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid statscount bg-white">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <h2 class="h2title text-center">About Pirathon</h2>
    <div class="pir-about">
    <p>Pirathon is an ancient word for pinnacle and we believe Shiraz is the pinnacle grape of the Barossa and that the north-western Barossa is the pinnacle sub-appellation for Shiraz.</p>
    <p>Pirathon Shiraz is a full bodied wine encompassing the great flavour, texture and structure of the north-western Barossa. Higher altitude, gullies, hills, slopes, and undulations provide different topographies, microclimates and individualistic parcels of grapes with unique flavours and characters from their own site.</p>
    <p>Grapes for Pirathon are grown by dedicated high quality growers in the Greenock, Moppa, Belvedere, Stonewell, Seppeltsfield, Koonunga and Ebenezer districts of the north-western Barossa. Many of these growers' families have been growing grapes here for generations.</p>
    <p>The grapes for Pirathon Shiraz are traditionally handcrafted in open top fermenters and basketpressed before maturing in barrel. Each vineyard adds its own exclusive dimension to Pirathon Shiraz and combined they produce the ultimate blend.</p>
    <p>Pirathon Shiraz showcases and celebrates the pinnacle north-western Barossa region and pinnacle Barossa grape with a complex and distinguished wine. Pirathon are proud to use screw cap closures for our wine which are at the forefront in an advance in improving the quality of bottled wine.</p>
    <div class="clearfix tc centerbutton"><a class="btn-primary btn-lg whitebg" href="https://about.pirathon.com/">Read More</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid bg-red ">
    <div class="container hp-testi">
    <div class="row">
    <div class="col-md-12">
    <h2>Follow us on Instagram <a class="instagrame" style="color: white;" title="Follow us on Instagram" href="https://www.instagram.com/pirathonwines/"><i class="fa-instagram fa">&nbsp;</i></a> <small>Share your Pirathon moments using #pirathonwines</small></h2>
    <div class="wrapper">
    <div id="instafeed">
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=1b5BYbXboEi_-c6IYSe_Lo6qLj-9lZiDJ" src="http://drive.google.com/uc?export=view&amp;id=1b5BYbXboEi_-c6IYSe_Lo6qLj-9lZiDJ"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">What’s your go-to “everyday” drop? I’ve a few, but for Barossa Shiraz Pirathon Silver is almost always the one I reach for. Hard to argue with the price to quality ratio here.</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 0ms;" href="https://www.instagram.com/p/B-1nNX6DVvP/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 1,046</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=1jmdrj75lHYlO7FAXK-Wdyl03O0Flhlxa" src="http://drive.google.com/uc?export=view&amp;id=1jmdrj75lHYlO7FAXK-Wdyl03O0Flhlxa"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">What are we sipping today Wine🍷 World🌎? Today is a 🌞sunny 😎 and cool 🍁autumn day in Perth. A Barossa Shiraz 🇦🇺 does the trick to a delicious sip…Winenot? ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀ 🍷This…</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 75ms;" href="https://www.instagram.com/p/CASFoN2nchx/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 1,439</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=1ucYgE9Up7jKVzXgl2wfA67_nsSMfN_qL" src="http://drive.google.com/uc?export=view&amp;id=1ucYgE9Up7jKVzXgl2wfA67_nsSMfN_qL"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">Pirathon Wines 🇦🇺🍷 2016 Barossa Valley Shiraz . Old vines, dry grown, low yeilds, traditional open fermentation, hand pumpovers, basket pressed and 18 months in oak. . Full bodied, fully ripe Barossa…</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 150ms;" href="https://www.instagram.com/p/B3T33IJjAsw/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 569</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=1Y0IGbtZKqTu6ZWUHsmTPpo8w8Fxcj8So" src="http://drive.google.com/uc?export=view&amp;id=1Y0IGbtZKqTu6ZWUHsmTPpo8w8Fxcj8So"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">This was an interesting one from @pirathonwines as it approaches 10 years in the bottle under stelvin. In short it has held up really well, colour is rich, incredible in the glass and a fantastic finish.…</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 225ms;" href="https://www.instagram.com/explore/tags/pirathonwines/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 9</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=14x2KKyeagn3i86mrfk62z8lO41AKWtsG" src="http://drive.google.com/uc?export=view&amp;id=14x2KKyeagn3i86mrfk62z8lO41AKWtsG"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">Some rich and luscious Barossa goodness for this Monday night @pirathonwines</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 300ms;" href="https://www.instagram.com/explore/tags/pirathonwines/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 148</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=1URHvlu9y-3-EFEjEYLpNXwJ1Xf27-Tv8" src="http://drive.google.com/uc?export=view&amp;id=1URHvlu9y-3-EFEjEYLpNXwJ1Xf27-Tv8"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">Delicious lockdown lunch in spectacular weather #instafood #foodblogger #foodandwine #foodpics #foodstagram #bbq #lamb #couscoussalad #omgyum #pirathonwines #foodshare #kitchensharing #homecooked …</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 375ms;" href="https://www.instagram.com/explore/tags/pirathonwines/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 12</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=139Kbma4XyP7MIsrwCqq14EjkpqESALPl" src="http://drive.google.com/uc?export=view&amp;id=139Kbma4XyP7MIsrwCqq14EjkpqESALPl"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">This is how you hump day! It’s wet and miserable outside, I’ve got some steak tacos on the go and this is gonna warm me up and relax me after a day of parenting! The @pirathonwines 2017 silver shiraz is a…</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 450ms;" href="https://www.instagram.com/explore/tags/pirathon/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 54</span></div>
    </div>
    </div>
    <div class="item" style="border-radius: 5px;">
    <table>
    <tbody>
    <tr>
    <td>&nbsp;</td>
    <td rowspan="2"><img style="border-radius: 5px;" usemap="http://drive.google.com/uc?export=view&amp;id=1Mr14GBL5fetTY5nRsmBNlpuBjWiiU_zB" src="http://drive.google.com/uc?export=view&amp;id=1Mr14GBL5fetTY5nRsmBNlpuBjWiiU_zB"><img style="top: -80%; left: 0%;" src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png" height="42"></td>
    </tr>
    <tr>
    <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;" colspan="2">
    <div style="font-weight: bold; padding: 15px; position: relative; top: 125px;">In the Pirathon vineyard, growth stage EL 35 berries are starting to colour and enlarge. It interesting to see how things ripen from here. #grapes #vineyard #vineyardviews #barossavalley #australianwine</div>
    <a class="text animated flipInX" style="opacity: 0; animation-delay: 525ms;" href="https://www.instagram.com/pirathonwines/" target="_blank" rel="noopener noreferrer">.</a></td>
    </tr>
    </tbody>
    </table>
    <div class="likes" style="line-height: 20px;">
    <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 17</span></div>
    </div>
    </div>
    </div>
    </div>
    <script>var images=$("#instafeed").find('a');$.each(images,function(index,image){var delay=(index*75)+'ms';$(image).css('-webkit-animation-delay',delay);$(image).css('-moz-animation-delay',delay);$(image).css('-ms-animation-delay',delay);$(image).css('-o-animation-delay',delay);$(image).css('animation-delay',delay);$(image).addClass('animated flipInX');});</script>
    <script>$(window).on('load',function(){$(function(){$.each($("#instafeed").find('img'),function(){var this_image=this;var src=$(this_image).attr('src')||'';if(!src.length>0){var lsrc=$(this_image).attr('usemap')||'';if(lsrc.length>0){var img=new Image();img.src=lsrc;$(img).on('load',function(){this_image.src=this.src;});}}});});});</script>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="container-fluid bg-gray-e3">
    <div class="container hp-testi">
    <div class="row">
    <div class="col-md-12">
    <h2>Reviews<small>What wine critics have to say about our wine.</small></h2>
    </div>
    </div>
    <div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-5">
    <p>“From seven growers in the north western districts of the Barossa Valley. A densely packed and powerful wine, each lot of grapes separately open-fermented, thence to new and used puncheons from four countries. Deeply coloured and complex, the oak is presently flexing its muscles, and the ripe tannins and the black fruits, dark chocolate and spices are keeping a respectful distance.”</p>
    <h4>Halliday Wine Companion |<span class="spanclass"> Australia 2019</span><small><i class="star-ico fivestar-ico">&nbsp;</i></small></h4>
    </div>
    <!--item -->
    <div class="col-md-5">
    <p>“Totally classic Barossa, a mix of North and Western subregions, a range of microclimates that deliver big, rich fruit. The resulting juices also offer attractive aromatic lift above the obvious impressions of traditional oak maturation, which impacts the start but still allows that fruit to keep powering through. Plump generous, steady Barossa shiraz that hangs your senses and leaves you without any doubts about where you’ve been"</p>
    <h4>Tony Love's 'Top 100 wines' |<span class="spanclass">The Advertiser 2017</span><small><i class="star-ico fivestar-ico">&nbsp;</i></small></h4>
    </div>
    <div class="col-md-1">&nbsp;</div>
    <!--item --></div>
    <!--/container --></div>
    </div>
    <div class="container hp-customers gr-margin bg-white">
    <div class="row">
    <div class="col-md-12">
    <h2>Our Distributors and Retailers<small>Distributed by some of the best in the industry domestically and around the globe</small></h2>
    <div class="clearall">&nbsp;</div>
    </div>
    </div>
    </div>
    <div class="container-fluid  hp-customers">
    <div class="container customerslogo">
    <div class="row">
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/PorterCo-logo.JPG" alt="Porter and Co"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/ClaretLogo.jpg" alt="Claret and Co"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/Justwines-logo.jpg" alt="Just Wines"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 60px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/DejaVuWine-logo.jpg" alt="Dejavu Wines"></div>
    </div>
    <div class="row">
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/Barons-Logo.jpg" alt="Liquor Barons"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/DanMurphy.png" alt="Dan Murphy"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 60px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/Inlandtrading-logo.png" alt="Inland Trading"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/BoozeBrothers.png" alt="Booze Brothers"></div>
    </div>
    <div class="row">
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/DeVine.png" alt="De Vines"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/Jims.png" alt="Jims Cellars"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/VintageCellars.png" alt="Vintage Cellars"></div>
    <div class="col-md-3 col-xs-6"><img style="height: 50px;" src="https://www.pirathon.com/templates/pirathonv2.0/images/distributors/Popup Wine.png" alt="Pop up Wine"></div>
    <div class="clearfix tc centerbutton"><a class="btn-primary btn-lg whitebg" href="https://purchase.pirathon.com/distributors">View All</a></div>
    </div>
    <!--/row2 --> <!--/row3 --></div>
    <!--/container --></div>
    <div class="spacer">&nbsp;</div>	</div>
    </div>